n8n/Kingshot - Flow 1 Gift Code Sync and Queue FINAL.json
{
  "name": "Kingshot - Flow 1 Gift Code Sync and Queue FINAL",
  "nodes": [
    {
      "parameters": {},
      "id": "265fc006-3da9-4ffd-bfe8-b31e180c1efc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2784,
        960
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2784,
        752
      ],
      "id": "3d1389b0-b42a-48b7-8c82-f4fe7af8cc28",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "path": "refresh-gift-code",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2784,
        560
      ],
      "id": "b548bf96-bf0f-4cc9-9641-da3e92f74517",
      "name": "Webhook",
      "webhookId": "59f8d26c-2a76-4072-8599-aca7bcb2ca63"
    },
    {
      "parameters": {
        "url": "https://kingshotwiki.com/giftcodes/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/150.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "3e0bceff-6de8-4cc1-8284-b72dad613978",
      "name": "Fetch Kingshot Wiki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3040,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst html =\n  typeof input === 'string'\n    ? input\n    : (input.data ?? input.body ?? input.response ?? '');\n\nif (typeof html !== 'string' || html.length < 100) {\n  throw new Error('ไม่พบ HTML จาก Kingshot Wiki');\n}\n\nif (/Just a moment|cf-chl|Enable JavaScript and cookies/i.test(html)) {\n  throw new Error('เว็บตอบกลับเป็น Cloudflare challenge');\n}\n\nfunction decodeHtml(value) {\n  return value\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;|&apos;/gi, \"'\")\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n}\n\nconst text = decodeHtml(\n  html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>|<\\/li>|<\\/h[1-6]>|<\\/div>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n)\n  .replace(/\\r/g, '')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .trim();\n\nconst activeMatch = text.match(\n  /Active\\s+Codes?\\s*:?\\s*([\\s\\S]*?)(?:Concierge member codes|How to Redeem|Expired Codes?|Redeem Codes?)/i\n);\n\nif (!activeMatch) {\n  return [{\n    json: {\n      ok: false,\n      message: 'ไม่พบส่วน Active Codes อาจมีการเปลี่ยนโครงสร้างหน้าเว็บ',\n      preview: text.slice(0, 1500),\n      sourceUrl: 'https://kingshotwiki.com/giftcodes/',\n      checkedAt: new Date().toISOString()\n    }\n  }];\n}\n\nconst activeText = activeMatch[1];\n\nconst blocked = new Set([\n  'ACTIVE', 'CODES', 'CODE', 'COPY', 'NEW', 'UPDATED',\n  'KINGSHOT', 'GIFT', 'REDEEM', 'REWARDS'\n]);\n\nconst candidates = activeText.match(/\\b[A-Za-z0-9]{5,30}\\b/g) ?? [];\n\nconst codes = [...new Set(candidates)]\n  .filter(code => !blocked.has(code.toUpperCase()))\n  .filter(code => !/^\\d+$/.test(code))\n  .filter(code => !/^(https?|www)$/i.test(code));\n\nif (codes.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      message: 'พบส่วน Active Codes แต่แยกโค้ดไม่สำเร็จ',\n      activeSectionPreview: activeText.slice(0, 1000),\n      sourceUrl: 'https://kingshotwiki.com/giftcodes/',\n      checkedAt: new Date().toISOString()\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    codes,\n    source: 'Kingshot Wiki',\n    sourceUrl: 'https://kingshotwiki.com/giftcodes/',\n    checkedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "f213715c-3679-4635-9ee1-f77495ac2386",
      "name": "Extract Active Codes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3312,
        832
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n    SELECT\n        $1::jsonb AS codes_json,\n        $2::text AS source_name,\n        $3::text AS source_url,\n        $4::boolean AS ok\n),\ncurrent_codes AS (\n    SELECT DISTINCT BTRIM(value) AS code\n    FROM input_data,\n         jsonb_array_elements_text(codes_json)\n    WHERE ok = TRUE\n      AND NULLIF(BTRIM(value), '') IS NOT NULL\n),\nupsert_source AS (\n    INSERT INTO public.gift_code_sources (\n        name,\n        url,\n        is_active,\n        last_fetched_at,\n        updated_at\n    )\n    SELECT\n        source_name,\n        source_url,\n        TRUE,\n        NOW(),\n        NOW()\n    FROM input_data\n    WHERE ok = TRUE\n    ON CONFLICT (url)\n    DO UPDATE SET\n        name = EXCLUDED.name,\n        is_active = TRUE,\n        last_fetched_at = NOW(),\n        updated_at = NOW()\n    RETURNING id\n),\ninsert_new_codes AS (\n    INSERT INTO public.gift_codes (\n        code,\n        source_id,\n        status,\n        first_seen_at,\n        last_seen_at,\n        created_at,\n        updated_at\n    )\n    SELECT\n        cc.code,\n        us.id,\n        'active',\n        NOW(),\n        NOW(),\n        NOW(),\n        NOW()\n    FROM current_codes cc\n    CROSS JOIN upsert_source us\n    ON CONFLICT (code)\n    DO NOTHING\n    RETURNING id, code\n),\ntouch_existing_codes AS (\n    UPDATE public.gift_codes gc\n    SET\n        last_seen_at = NOW()\n    FROM current_codes cc\n    WHERE gc.code = cc.code\n      AND NOT EXISTS (\n          SELECT 1\n          FROM insert_new_codes nc\n          WHERE nc.id = gc.id\n      )\n    RETURNING gc.id\n),\nmark_missing_inactive AS (\n    UPDATE public.gift_codes gc\n    SET\n        status = 'inactive',\n        updated_at = NOW()\n    FROM upsert_source us\n    WHERE gc.source_id = us.id\n      AND gc.status = 'active'\n      AND NOT EXISTS (\n          SELECT 1\n          FROM current_codes cc\n          WHERE cc.code = gc.code\n      )\n    RETURNING gc.id, gc.code\n)\nSELECT\n    (SELECT COUNT(*) FROM current_codes)::int AS fetched_code_count,\n    (SELECT COUNT(*) FROM insert_new_codes)::int AS new_code_count,\n    (SELECT COUNT(*) FROM mark_missing_inactive)::int AS inactive_code_count,\n    COALESCE(\n        (SELECT jsonb_agg(code ORDER BY code) FROM insert_new_codes),\n        '[]'::jsonb\n    ) AS new_codes;",
        "options": {
          "queryReplacement": "={{ [ JSON.stringify($json.codes ?? []), $json.source ?? 'Kingshot Wiki', $json.sourceUrl ?? 'https://kingshotwiki.com/giftcodes/', $json.ok === true ] }}"
        }
      },
      "id": "04e65e5a-2ea7-43dd-853f-f1e1c363aaf4",
      "name": "Sync Gift Code Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3600,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH created_queue AS (\n    INSERT INTO public.gift_code_redemptions (\n        gift_code_id,\n        game_account_id,\n        status,\n        queued_at,\n        created_at,\n        updated_at\n    )\n    SELECT\n        gc.id,\n        ga.id,\n        'pending',\n        NOW(),\n        NOW(),\n        NOW()\n    FROM public.gift_codes gc\n    CROSS JOIN public.game_accounts ga\n    WHERE gc.status = 'active'\n      AND ga.is_active = TRUE\n      AND (\n          gc.expires_at IS NULL\n          OR gc.expires_at > NOW()\n      )\n    ON CONFLICT (gift_code_id, game_account_id)\n    DO NOTHING\n    RETURNING id, gift_code_id, game_account_id\n)\nSELECT\n    COUNT(*)::int AS created_queue_count\nFROM created_queue;",
        "options": {}
      },
      "id": "1f23abfa-1eb8-4541-bb78-759e68e6e01c",
      "name": "Create Missing Redemption Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3888,
        832
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Kingshot Wiki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Kingshot Wiki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Kingshot Wiki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kingshot Wiki": {
      "main": [
        [
          {
            "node": "Extract Active Codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Active Codes": {
      "main": [
        [
          {
            "node": "Sync Gift Code Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Gift Code Status": {
      "main": [
        [
          {
            "node": "Create Missing Redemption Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "05ac8954-8fba-4491-8cef-51f282f65770",
  "meta": {
    "instanceId": "1b6934095a36b38b484ba73e9555d1c823660b565e517abf6d8458f98723c378"
  },
  "nodeGroups": [],
  "id": "dG0KkDSePiiwvLcJ",
  "tags": []
}