n8n/Kingshot - Flow 1 Gift Code Automation.json
{
  "name": "Kingshot - Flow 1 Gift Code Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "541951cc-afc6-4327-96c1-336c90f4c684",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "url": "https://kingshotwiki.com/giftcodes/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/150.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "id": "9b942f95-b48d-4de6-9038-c096d2a4a72e",
      "name": "Fetch Kingshot Wiki",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst html =\n  typeof input === 'string'\n    ? input\n    : (input.data ?? input.body ?? input.response ?? '');\n\nif (typeof html !== 'string' || html.length < 100) {\n  throw new Error('ไม่พบ HTML จาก Kingshot Wiki');\n}\n\nif (/Just a moment|cf-chl|Enable JavaScript and cookies/i.test(html)) {\n  throw new Error('เว็บตอบกลับเป็น Cloudflare challenge');\n}\n\nfunction decodeHtml(value) {\n  return value\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;|&apos;/gi, \"'\")\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>');\n}\n\nconst text = decodeHtml(\n  html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/p>|<\\/li>|<\\/h[1-6]>|<\\/div>/gi, '\\n')\n    .replace(/<[^>]+>/g, ' ')\n)\n  .replace(/\\r/g, '')\n  .replace(/[ \\t]+/g, ' ')\n  .replace(/\\n{2,}/g, '\\n')\n  .trim();\n\nconst activeMatch = text.match(\n  /Active\\s+Codes?\\s*:?\\s*([\\s\\S]*?)(?:Concierge member codes|How to Redeem|Expired Codes?|Redeem Codes?)/i\n);\n\nif (!activeMatch) {\n  return [{\n    json: {\n      ok: false,\n      message: 'ไม่พบส่วน Active Codes อาจมีการเปลี่ยนโครงสร้างหน้าเว็บ',\n      preview: text.slice(0, 1500),\n      sourceUrl: 'https://kingshotwiki.com/giftcodes/',\n      checkedAt: new Date().toISOString()\n    }\n  }];\n}\n\nconst activeText = activeMatch[1];\n\nconst blocked = new Set([\n  'ACTIVE', 'CODES', 'CODE', 'COPY', 'NEW', 'UPDATED',\n  'KINGSHOT', 'GIFT', 'REDEEM', 'REWARDS'\n]);\n\nconst candidates = activeText.match(/\\b[A-Za-z0-9]{5,30}\\b/g) ?? [];\n\nconst codes = [...new Set(candidates)]\n  .filter(code => !blocked.has(code.toUpperCase()))\n  .filter(code => !/^\\d+$/.test(code))\n  .filter(code => !/^(https?|www)$/i.test(code));\n\nif (codes.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      message: 'พบส่วน Active Codes แต่แยกโค้ดไม่สำเร็จ',\n      activeSectionPreview: activeText.slice(0, 1000),\n      sourceUrl: 'https://kingshotwiki.com/giftcodes/',\n      checkedAt: new Date().toISOString()\n    }\n  }];\n}\n\nreturn codes.map(code => ({\n  json: {\n    ok: true,\n    code,\n    status: 'listed_as_active',\n    source: 'Kingshot Wiki',\n    sourceUrl: 'https://kingshotwiki.com/giftcodes/',\n    checkedAt: new Date().toISOString()\n  }\n}));"
      },
      "id": "9baea6b2-ba30-4ac4-ab7a-43cb1ed76ae6",
      "name": "Extract Active Codes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH input_data AS (\n    SELECT\n        $1::text AS code,\n        $2::text AS source_name,\n        $3::text AS source_url,\n        $4::boolean AS ok\n),\nupsert_source AS (\n    INSERT INTO public.gift_code_sources (\n        name,\n        url,\n        is_active,\n        last_fetched_at,\n        updated_at\n    )\n    SELECT\n        source_name,\n        source_url,\n        TRUE,\n        NOW(),\n        NOW()\n    FROM input_data\n    WHERE ok = TRUE\n    ON CONFLICT (url)\n    DO UPDATE SET\n        name = EXCLUDED.name,\n        is_active = TRUE,\n        last_fetched_at = NOW(),\n        updated_at = NOW()\n    RETURNING id\n),\nupsert_code AS (\n    INSERT INTO public.gift_codes (\n        code,\n        source_id,\n        status,\n        first_seen_at,\n        last_seen_at,\n        created_at,\n        updated_at\n    )\n    SELECT\n        input_data.code,\n        upsert_source.id,\n        'active',\n        NOW(),\n        NOW(),\n        NOW(),\n        NOW()\n    FROM input_data\n    CROSS JOIN upsert_source\n    WHERE input_data.ok = TRUE\n      AND NULLIF(BTRIM(input_data.code), '') IS NOT NULL\n    ON CONFLICT (code)\n    DO UPDATE SET\n        source_id = EXCLUDED.source_id,\n        status = CASE\n            WHEN gift_codes.status = 'disabled' THEN gift_codes.status\n            ELSE 'active'\n        END,\n        last_seen_at = NOW(),\n        updated_at = NOW()\n    RETURNING id, code, status, source_id, first_seen_at, last_seen_at\n)\nSELECT\n    id AS gift_code_id,\n    code,\n    status,\n    source_id,\n    first_seen_at,\n    last_seen_at\nFROM upsert_code;",
        "options": {
          "queryReplacement": "={{ [ $json.code ?? '', $json.source ?? 'Kingshot Wiki', $json.sourceUrl ?? 'https://kingshotwiki.com/giftcodes/', $json.ok === true ] }}"
        }
      },
      "id": "2d9807f8-7499-41c2-9b39-c484f33c30f8",
      "name": "Upsert Gift Code",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.gift_code_redemptions (\n    gift_code_id,\n    game_account_id,\n    status,\n    queued_at,\n    created_at,\n    updated_at\n)\nSELECT\n    $1::uuid,\n    ga.id,\n    'pending',\n    NOW(),\n    NOW(),\n    NOW()\nFROM public.game_accounts ga\nWHERE ga.is_active = TRUE\nON CONFLICT (gift_code_id, game_account_id)\nDO NOTHING\nRETURNING\n    id AS redemption_id,\n    gift_code_id,\n    game_account_id,\n    status,\n    queued_at;",
        "options": {
          "queryReplacement": "={{ [ $json.gift_code_id ] }}"
        }
      },
      "id": "0488fb47-743e-4154-96b8-d9be1820c9c1",
      "name": "Create Redemption Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gift_code_redemptions (\n    gift_code_id,\n    game_account_id,\n    status,\n    response_message,\n    processed_at\n)\nSELECT\n    gc.id,\n    ga.id,\n    'already_redeemed',\n    'Marked as previously used before automation',\n    NOW()\nFROM gift_codes gc\nJOIN game_accounts ga\n    ON ga.player_id = '247069619'\nWHERE gc.code IN (\n    'HAPPYEMOJIDAY',\n    'Kingshot888',\n    'VIP777'\n)\nON CONFLICT (gift_code_id, game_account_id)\nDO UPDATE SET\n    status = 'already_redeemed',\n    response_message = 'Marked as previously used before automation',\n    processed_at = NOW(),\n    updated_at = NOW();",
        "options": {}
      },
      "id": "5e078b0c-d59f-456a-ae5c-f6cc05104111",
      "name": "Mark Existing Codes Used",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gift_code_redemptions (\n    gift_code_id,\n    game_account_id,\n    status\n)\nSELECT\n    gc.id,\n    ga.id,\n    'pending'\nFROM gift_codes gc\nCROSS JOIN game_accounts ga\nWHERE gc.status = 'active'\n  AND ga.is_active = TRUE\n  AND (\n      gc.expires_at IS NULL\n      OR gc.expires_at > NOW()\n  )\n  AND NOT EXISTS (\n      SELECT 1\n      FROM gift_code_redemptions r\n      WHERE r.gift_code_id = gc.id\n        AND r.game_account_id = ga.id\n  )\nRETURNING\n    id,\n    gift_code_id,\n    game_account_id,\n    status,\n    queued_at;",
        "options": {}
      },
      "id": "dd5190a7-e9f8-4807-b2e7-be9c798bf8bf",
      "name": "Create Queue For New Codes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    r.id AS redemption_id,\n    gc.code,\n    ga.player_id,\n    ga.nickname,\n    ga.server_id,\n    r.status,\n    r.attempt_count,\n    r.response_message,\n    r.queued_at,\n    r.processed_at\nFROM gift_code_redemptions r\nJOIN gift_codes gc\n    ON gc.id = r.gift_code_id\nJOIN game_accounts ga\n    ON ga.id = r.game_account_id\nWHERE ga.player_id = '247069619'\nORDER BY\n    CASE r.status\n        WHEN 'pending' THEN 1\n        WHEN 'processing' THEN 2\n        WHEN 'success' THEN 3\n        WHEN 'already_redeemed' THEN 4\n        ELSE 5\n    END,\n    r.queued_at DESC;",
        "options": {}
      },
      "id": "fde724db-e62d-4ee6-8c07-b218461c3ee0",
      "name": "View Account Queue",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "d4tyOp9jNnFC1MME",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            },
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 14
            },
            {
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -80
      ],
      "id": "3a6c6862-453e-4f1b-a1f7-b097ebf8e32b",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Kingshot Wiki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kingshot Wiki": {
      "main": [
        [
          {
            "node": "Extract Active Codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Active Codes": {
      "main": [
        [
          {
            "node": "Upsert Gift Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Gift Code": {
      "main": [
        [
          {
            "node": "Create Redemption Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Existing Codes Used": {
      "main": [
        [
          {
            "node": "Create Queue For New Codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Queue For New Codes": {
      "main": [
        [
          {
            "node": "View Account Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Redemption Queue": {
      "main": [
        [
          {
            "node": "Mark Existing Codes Used",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Kingshot Wiki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2860a053-110f-4e63-a6dc-e38b6f664c56",
  "meta": {
    "instanceId": "1b6934095a36b38b484ba73e9555d1c823660b565e517abf6d8458f98723c378"
  },
  "nodeGroups": [],
  "id": "dG0KkDSePiiwvLcJ",
  "tags": []
}